* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #9c895b;
    overflow-x: hidden;
}

footer {
    width: 100%;
    height: 50px;

    background: #FFDE89;

    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

button {background-color: transparent;
    border: none;
    font-size: 15px;
    width: auto;
    height: auto;
}

h1 {
    margin-left: 5%;
    color: orange;
    text-shadow: 
        -0.5px -0.5px 0px black,
        -0.5px 0.5px 0px black,
        0.5px -0.5px 0px black,
        0.5px 0px 0px black;
}

a {
    margin-right: 5%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.imagens {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 180px;
    padding: 15px;
    grid-gap: 15px;
}

.foto {
    position: relative;
}

.alt2 {
    grid-row: span 2;
    grid-column: span 2;
}

.lar2 {
    grid-column: span 2;
    grid-row: span 1;
}

.pe {
    grid-row: span 2;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



@media(max-width:768px){
    .imagens{
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 50vh;
    }

    .alt2, .lar2, .pe{
        grid-row: span 1;
        grid-column: span 1;
    }
}
